.ApplicationWidgetMarketTab{
    padding: 0 11px;
}
.ApplicationWidgetMarketTab-actions-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 18px;
}
.ApplicationWidgetMarketTab-actions-inputs-item{
    display: flex;
    flex: 1;
    flex-direction: column;
    row-gap: 9px;
}
.ApplicationWidgetMarketTab-actions-prices{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}